#!/usr/bin/make -f

PKG_EXPORT_BUILDFLAGS = 1
DEB_BUILD_MAINT_OPTIONS=hardening=+all
export DEB_BUILD_MAINT_OPTIONS

include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	--with-cpuflags=none \
	--enable-gpl \
	--with-libdv \
	--without-ffmpeg \
	--without-gtk \
	$(empty)

override_dh_auto_build:
	dh_auto_build -- \
		MSGMERGE_UPDATE=true

override_dh_makeshlibs:
	dh_makeshlibs -plibquicktime2 -Xlqt_
	dh_makeshlibs --remaining-packages

DEB_COPYRIGHT_CHECK_IGNORE_REGEX = \
        debian/.*
# licensecheck v1
.PHONY: licensecheck
licensecheck:
	LANG=C.UTF-8 licensecheck \
		-i "^($(DEB_COPYRIGHT_CHECK_IGNORE_REGEX))$$" \
		--check '.*' --recursive --deb-machine --lines 0 * \
		> debian/copyright_newhints
	cmp debian/copyright_hints debian/copyright_newhints \
		&& rm debian/copyright_newhints
